<div id="logo" class= "text-center">
<img src="<%= image_url('crimeguardlogo.png')%>" alt="Reponsive image" class="mx-auto d-block img-fluid">
<p class= "text-center"> The app to keep you safe</p>
<%= link_to 'Get Started', new_model_session_path, class:"btn btn-outline-primary", button.style.visibility = "hidden"; %>
</div>